/* Styles.css */

div {
    border: 2px solid black;
    background: white;
    background-clip: content-box;
    width: 1040px;
    height: auto;
}

body {
margin: auto;
width: auto;
height: auto;
background-color: whitesmoke;
}

.border {
	border-width:10px;
	border-color: black;
	border-style: double;
}

h1 {
	font-family: Helvetica;
	font-size: 60px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 23px;
	color: white;
}

h2 {
	font-family: Helvetica;
	font-size: 42px;
	font-style: normal;
	font-weight: bold;
	line-height: 23px;
}

p {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22.8571px;
}

p2 {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22.8571px;
	color: white;
}

#banner {
	padding: 12em 0 10em 0;
	background-image: url('../banner.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}

#banner2 {
	padding: 12em 0 10em 0;
	background-image: url('../pillars.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}

#banner3 {
	padding: 12em 0 10em 0;
	background-image: url('../obs.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}

#header {
		color: #d4e0ef;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 4em;
		width: 100%;
		z-index: 10001;
	}

.inner {
	max-width: 75em;
	margin: 0 auto;
}

a {
	color: white;
	text-decoration: underline;
}
